* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #004499;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
}


.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #0077FF;
  color: white;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon {
  height: 20px;
  vertical-align: middle;
  margin-right: 10px; 
}


.bottom-button{
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 0; 
}

.sidebar ul li a {
  display: block;
  padding: 15px 25px; 
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.sidebar.active {
  left: 0;
}

.body-shift .content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-left: 10px;
}

.icon {
  height: 30px;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s ease;
}
